body {
  font-family: Helvetica, Arial, sans-serif;
}

#home {
  background-image: url('../images/the-flatiron-building.png');
  text-align: center;
  color: white
}

#home a {
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}


p,
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}
