/* default settings for this document: */
body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}

/* settings for specific classes and id's: */
.background-image {
  background-image: url('../images/the-flatiron-building.png');
  background-position: center top;
  color: white
}

.background-image h1 {
  font-size: 70px;
  margin-bottom: 0.55em;
}

#about {
  font-size: 11px;
  color:white;
  text-align: left;
  background-color: dimgrey;
}
